!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mysite
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  -# %link{:href => "https://cdn.simplecss.org/simple-v1.css", :rel => "stylesheet"}/
  %link{rel: "stylesheet", href: "https://unpkg.com/simpledotcss@2.0.0/simple-v1.css"}
  %body
    = yield
